* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #483434;
    font-family: 'Courier New', monospace;
}

.enigma__main {
    min-height: 90vh;
    height: auto;
    width: 50%;
    border-image: url("../assets/frame.jpg")/* source */
    20 //* slice */    18px 18px 18px 18px //* width */    14px 14px 14px 14px/* outset */    round;
    margin: auto;
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
    background-image: url('../assets/bg.jpg');
    padding: 25px;
}

[class^="main__"] {
    width: 100%;
    position: relative;
    padding: 20px 0;
    margin: 20px 0;
}

[class^="main__"]::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 1px;
    background-color: rgba(255, 243, 228, 0.5);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 243, 228, 0.5);
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 243, 228, 0.5);
    box-shadow: 0px 0px 10px 5px rgba(255, 243, 228, 0.5);
}

[class^="main__"]:last-child {
    margin-bottom: 0;
}

.keyboard__row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.keyboard__row:nth-of-type(2) {
    width: 90%;
    margin: auto;
}

.main__plugboard>div>p,
.main__keyboard>div>p,
.main__endKeyboard>div>p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
    line-height: 50px;
    margin: auto;
    padding: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}


.main__rotors {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rotors__singleRotor {
    width: 20%;
    height: 150px;
    border: 4px #000000 solid;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.singleRotor__letter {
    width: 100% !important;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0px 0px 1px #000000;
    position: relative;
}

.singleRotor__letter:nth-child(2):after,
.singleRotor__letter:nth-child(2):before {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    -webkit-box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.4);
    background-color: rgba(0,0,0,0.4);
    left: 5%;
}

.singleRotor__letter:nth-child(2):after {
    top: 150%;
}

.singleRotor__letter:nth-child(2):before {
    top: -50%;
}

.rotors__settingsButton {
    border: none;
    width: 50px;
    height: 200px;
    background: #000000;
    color: #ffffff;
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 2em;
    position: absolute;
    right: -90px;
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    font-family: 'Courier New', monospace;
    cursor: pointer;
}


.main__endKeyboard p {
    color: #FFF3E4;
    border: 2px solid #F0F7EE;
    background: linear-gradient(135deg, #000000 0%, #0a0a0a 11%, #0a0a0a 21%, #4e4e4e 33%, #383838 37%, #1b1b1b 43%, #000000 100%);
    background: -webkit-linear-gradient(135deg, #000000 0%, #0a0a0a 11%, #0a0a0a 21%, #4e4e4e 33%, #383838 37%, #1b1b1b 43%, #000000 100%);
}

.main__keyboard p {
    box-sizing: border-box;
    border: 2px solid #F0F7EE;
    background: -webkit-linear-gradient(135deg, #8f6B29, #FDE08D, #DF9F28);
    background: linear-gradient(135deg, #8f6B29, #FDE08D, #DF9F28);
    color: #483434;
}

.main__keyboard .letter--active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    border: 3px solid #f0f7ee;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.72);
}

.main__plugboard{
    --mainColor: #000000;
    --color01: #4e1b6f;
    --color02: #2c1643;
    --color03: #2da31a;
    --color04: #ca6690;
    --color05: #7d8b96;
    --color06: #ff6f61;
    --color07: #007acc;
    --color08: #6bbb69;
    --color09: #ffd700;
    --color10: #c72138;
    --color11: #e06236;
    --color12: #304c7a;
    --color13: #b3df7f;
}
.main__plugboard p {
    color: #FFF3E4;
    height: 100px !important;
    position: relative;
}

.main__plugboard p:before,
.main__plugboard p:after {
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    border: 2px solid #f0f7ee;
    bottom: 0;
}

.main__plugboard p:before {
    background: linear-gradient(321deg, rgba(0,0,0,0) 0%, rgba(88,88,99,0.8239670868347339) 57%, rgba(177,177,177,0.7819502801120448) 65%, rgba(255,255,255,0.5858718487394958) 73%, rgba(88,88,99,0.6110819327731092) 82%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(321deg, rgba(0,0,0,0) 0%, rgba(88,88,99,0.8239670868347339) 57%, rgba(177,177,177,0.7819502801120448) 65%, rgba(255,255,255,0.5858718487394958) 73%, rgba(88,88,99,0.6110819327731092) 82%, rgba(0,0,0,0) 100%);
    z-index: 100;

}
.main__plugboard p:after {
    
    background: var(--plugColor, #000000);
    
}

